*.class
*.log
*.tmp
*.temp
*.swp
*.swo

/build/
/out/
/bin/
/target/
/generated/

.gradle/
build/
gradle-app.setting
gradle-wrapper.jar

.idea/
*.iml
*.iws
.idea_modules/
.idea/*workspace.xml
.idea/*tasks.xml
.idea/dictionaries/
.idea/assetWizardSettings.xml
.idea/libraries/
*.ipr

.idea/*.run.xml

out/
.idea/caches/
.idea/shelf/
.idea/gradle.xml
.idea/usage.statistics.xml

*.keystore
/*.keystore
/*.jks
/local.properties
/captures/
/.externalNativeBuild/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.pnp.js
node_modules/

.project
.classpath
.settings/

Thumbs.db
ehthumbs.db
Desktop.ini